
### START GitHub Bits 

{% for repo_name in repo %}
module "github_repo_{{ repo_name.name }}"  {
  source = "modules/github_repo"
  name = "{{ repo_name.name }}"
}
{% endfor %}

{% for team in teams %}
module "github_team_{{ team.name }}" {
  source ="modules/github_team"
  team-name = "{{ team.name }}"
  team-members = [{{ team.ghmembers | join(", ") }}]
}
{% endfor %}


{% for team_repo in repo %}
module "github_team_repo_{{ team_repo.name }}" {

  source ="modules/github_team_repo"
  repo = "{{ team_repo.name }}"
## Shuld apply a for-loop around this to handle multiple teams and pass it as a list  
  team-read-id = ["${module.github_team_{{ team_repo.read[loop.index-1] }}.github_team_id_ghteam}"]
  team-write-id = ["${module.github_team_{{ team_repo.write[loop.index-1] }}.github_team_id_ghteam}"]

# arbitrary variable to import/export from other module
#  waited_for_repo_finish = "${module.github_repo.wait_for_repo_finish}"
#  waited_for_ghteam_finish = "${module.github_team.wait_for_ghteam_finish}"

}
{% endfor %}

### END GitHub Bits 
### START G Suite Bits

{% for team in teams %}
module "gsuite_groups_{{ team.name }}" {
  source = "modules/gsuite_groups"
  team-name = "{{ team.name }}"
  team-members = [{{ team.gsmembers | list | join(", ") }}]

}
{% endfor %}
### END G Suite Bits
### START GCP Bits

{% for gcp_config in repo %}
module "gcp_{{ gcp_config.name  }}" {
  source = "modules/gcp"
  team-read-name = "{{ gcp_config.read | list | join(", ")}}"
  team-write-name = "{{ gcp_config.write | list | join(", ")}}"
  team-read-members = {{ teams | selectattr("role", "equalto", "read")| map(attribute="gsmembers") | list | join(", ") | replace("u'", "")| replace("'", "")}}
  team-write-members = {{ teams | selectattr("role", "equalto", "write")| map(attribute="gsmembers") | list | join(", ") | replace("u'", "")| replace("'", "")}}
  cluster_name  = "prod-general-001"
  zone = "northamerica-northeast1-a"
  project = "gke-pub-001"
  ns = "{{ gcp_config.name | lower }}"

}
{% endfor %}
### END GCP Bits